<label>First:
  <input
      type="text"
      ng-model="filterModel.firstName"
      ng-model-options="peopleList.filterModelOptions">
</label>
<label>Email:
  <input type="email"
         ng-model="filterModel.email"
         ng-model-options="peopleList.filterModelOptions">
</label>

<hr>
<table class="table">
  <thead>
  <tr>
    <th ng-click="peopleList.setOrderByField('firstName')">First</th>
    <th ng-click="peopleList.setOrderByField('lastName')">Last</th>
    <th ng-click="peopleList.setOrderByField('company')">Company</th>
    <th ng-click="peopleList.setOrderByField('email')">Email</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="person in people | filter:filterModel | orderBy: peopleList.orderByField">
    <td>{{person.firstName}}</td>
    <td>{{person.lastName}}</td>
    <td>{{person.company}}</td>
    <td>{{person.email}}</td>
  </tr>
  </tbody>
</table>